FORMAT: 1A
HOST: https://sandbox-api.mylimobiz.com/

# Partner API

## Overview

The Partner API allows 3rd-party services to interact programmatically with Limo Anywhere. Using the Partner API you interact with resources allowing for actions such as:

- Rate Lookup & Calculation.
- Reservation Creation/Modification/Cancellation.
- Notification Subscriptions.

The API accepts/returns JSON data and attempts to conform to the <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">RESTful</a> design principles. You can interact with the resources exposed via the API by accessing resource collections and element URIs by using the HTTP verbs (GET, POST, PUT, and DELETE). 

## General Requirements

To use the Limo Anywhere Partner API, you must have an API authorization token from the token endpoint. See the <a href="#reference/authentication">Authentication documentation</a> for the authorization guide.

<b>Before you can generate an access token, you must agree to the API Terms of Service and receive a Client ID and Client Secret from Limo Anywhere.</b> 

If you have not done this and would like to use the API, please email api@limoanywhere.com

## HTTP Status Codes

| Status Code | Default Reason Phrase | Description |
|--------------------------|---------------------------|--------------------------------------------------------------------------------|
|200 | OK.| Request was processed successfully and the response contains entity body. |
|201 | Created | Request was processed successfully and the response contains `Location` header with URI of created resource. |
|202 | Accepted | Request was accepted but the server cannot determine whether the operation was successfully processed. |
|204 | No Content | Request was processed successfully and response doesn't contain entity body. |
|400 | Bad request | Request wasn't processed and the response contains entity body with description of the request errors. |
|401 | Unauthorized | Request wasn't processed because client didn't send `Authorization` header with valid scheme and parameter. |
|403 | Forbidden | Request wasn't processed because client didn't have enough permissions to access requested resource. |
|404 | Not Found | Request wasn't processed because requested resource is not existing. |
|409 | Conflict | Request wasn't processed because conflict was occurred. Response body will contain infomration about occurred conlict and reason phrase of the response may contain custom value which can be used by client to handle occurred conflict.  |
|429 | Too Many Requests Per Minute | Request count limit has been reached. `Retry-After` header will contain information about the time when the request query counter will be reset. |
|429 | Too Many Requests Per Day | Request count limit has been reached. `Retry-After` header will contain information about the time when the request query counter will be reset. |
|500 | Internal Server Error | Request wasn't processed because internal server error was occurred and the response contains `correlation_id` field which should be used for future investigation of the issue. |

## Getting Started

Follow the below steps to complete some of the most popular actions.

<b> Get Authorization to use the Partner API before doing anything else.</b>

1. Contact api@limoanywhere.com and receive your Client Id & Client Secret.
2. Use Client Id & Client Secret to generate an access token as described <a href="/#reference/authentication">here.</a>

Once you have completed the above, choose a sub-section to follow:

<b> Create a Booking</b>

1. Call the <a href="/#reference/booking/rate-lookup/rate-lookup">Rate Lookup</a> method to get the pricing for your trip requirements. Choose the optimal pricing and hold the Id of this rate from the `results` array.
2. Use the <a href="/#reference/booking/booking/booking">Booking</a> method. In `search_result_id` parameter set the rate Id of the desired rate and provide additional necessary information: passengers, flight information etc.

## Group Authorization
The API uses the <a href="https://tools.ietf.org/html/rfc6749"> OAuth 2.0 </a> protocol for simple, but effective authentication and authorization.
All API endpoints require an OAuth access token, thus we have exposed a service that will provide the user with an OAuth 2 Access token.
This token should be provided in the header in all requests.




## GET Access Token [/get]

We support authorization with a <b>Client Credentials Grant</b>. It allows access to general resources that do not need customer account authentication.

The tables below describe all possible request/response parameters of the Authentication process methods:

#####Request:

| Parameter | Description |
|------------------|-------------------------------------------------------------------------------------------------------------------------|
| grant_type | Type of Grant described above. Possible values: `client_credentials` or `refresh_token` |
| client_id | The client ID of your application |
| client_secret | The client Secret of your application |
| company_alias | The Alias of your company |
| username | Username or Email |
| passwod | Password |

#####Response:

| Parameter | Description |
|------------------|------------------------------------------------------------|
| access_token | Access Token |
| token_type | Token type (Always `bearer`) |
| expires_in | Expiration time of Access token (in seconds) |
| refresh_token | Refresh Token |


### Possible Authentication Errors

| Parameter | Description |
|-------------------------------|---------------------------------------------------------------|
| invalid_request | Required parameters were not provided |
| invalid_client | The Сlient ID or Client secret provided is invalid |
| invalid_scope (not used now) | The scope parameter provided is not a valid subset of scopes |
| unsupported_grant_type | Unsupported Grand Type provided |


In 'execution' console you can see request/response samples, data types and sizes of parameters.

For getting an 'access_token', create the appropriate request. 
Parameter `grant_type` will depend on Authorization method:

### Client Credentials Grant [POST /oauth2/token]
`grant_type` = `client_credentials`

+ Request

    + `grant_type` (string) Required. String length: inclusive between 0 and 50.
    + `client_id` (string) Required. String length: inclusive between 6 and 50.
    + `client_secret` (string) Required. String length: inclusive between 50 and 50.
 
    + Headers

            Content-Type: application/json

    + Body

            {
                "grant_type": "client_credentials",
                "client_id": "tpp_integration_test",
                "client_secret": "lcdLYzj7RaUgmRp7sVngt2fpD5JaBJ18Pkk2IrNSmF75GI5kAR",
            }

+ Response 200 (application/json)
    
    + Body

            {
                "access_token": "YE0W7CSdfVaQFmC8GTQ1",
                "token_type": "bearer",
                "expires_in": 3600,
            }

## Refresh Access Token [/refresh]
Your access token will expire after a period of time and must be refreshed. Time until token expiration is provided in the `expired_in` parameter when receiving your token. <b>If you receive a 401 error, you may need to refresh your token.</b>


### Refresh [POST /oauth2/token]

+ Request

    + `grant_type` (string) Required. String length: inclusive between 0 and 50.
    + `refresh_token` (string) Required. String length: 20.
    + `client_id` (string) Required. String length: inclusive between 6 and 50.
    + `client_secret` (string) Required. String length: inclusive between 50 and 50.
 
    + Headers

            Content-Type: application/json

    + Body

            {
                "grant_type": "refresh_token",
                "refresh_token": "CSYE0W7dfVaQFmC8GTQPL",
                "client_id": "la_customer_test",
                "client_secret": "lcfLYzj7RaUgmRp8sVngt2fpD5GaBJ19Ptt2MrNSlF57GI5kAR"
            }

+ Response 200 (application/json)
    
    + Body

            {
                "access_token": "YE0W7CSdfVaQFmC8GTQ1",
                "token_type": "bearer",
                "expires_in": 3600
            }


## Group Booking

Provides the following abilities:

- Return and choose pricing.
- Create reservations.
- Update existing reservations.
- Cancel existing reservations.

<b> Basic Steps for creating/updating a reservation: </b>

1. Call the <a href="/#reference/booking/rate-lookup/rate-lookup">Rate Lookup</a> method to get the pricing for your trip requirements. Choose the optimal pricing and hold the Id of this rate from the `results` array. To get a breakdown of the chosen rate, call the <a href="/#reference/booking/rate-lookup/get-rate-details">Get Rate Details</a> method.

2. Use the <a href="/#reference/booking/booking/booking">Booking</a> method. In `search_result_id` parameter set the rate Id of the desired rate and provide additional necessary information: passengers, flight information etc.
In booking requst we accept `pickup_flight_info` and `dropoff_flight_info`. This can be useful if you would want to specify them after rate lookup.

3. To update an existing reservation use the <a href="/#reference/booking/booking/update-booking">Update Booking</a> method. Request information is the same as for `Booking` method.

4. To cancel an existing reservation use <a href="/#reference/booking/booking/cancel">Cancel</a> or <a href="/#reference/booking/booking/cancel-by-passenger">Cancel by Passenger</a>. The deifference between them is the cancelation reason is stored for the reservation.

*You can create a booking with a minimal set of fields by using only required parameters.*



The tables below describe all possible request/response parameters for the Booking process methods:


#### *Rate Lookup* request parameters

| Name | Type |Required| Description |
|-----------------------------------------------|-----------|--------|--------------------------------------------------------------------------------------|
| executors | array | Yes* | Array of companies the offer is sent to. If not specified, 25 mile radius around PU will be applied to search for possible executors. (Requires only one item when you provide Executor Billing Contact Account Number) |
| executor_billing_contact_account_number | string | No | Executor Billing Contact Account Number. (If specified then only one executor should be provided) |
| vehicle_types | array | Yes | Array of vehicle types. Check possible values in the list below |
| scheduled_pickup_at | object | Yes | Pick up date and time |
| luggage_count | integer | No | Count of lagguage (Default value: 0) |
| passenger_count | integer | Yes | Count of passengers |
| infant_child_seat_count | integer | No | Count of "Infant" child seats (Default value: 0) |
| booster_child_seat_count | integer | No | Count of "Booster" child seats (Default value: 0) |
| toddler_child_seat_count | integer | No | Count of "Toddler" child seats (Default value: 0) |
| is_handicap_access_required | boolean | No | Is required handicap access (Default Value: false) |
| duration | integer | Yes* | Trip duration (In seconds). Required for hourly rides only |
| pickup | object | Yes | Pick Up location information |
| pickup.scheduled_arriving_at | object | No | Drop Off date and time |
| pickup.address | object | Yes | Pick Up address |
| pickup.address.name | string | No | Address name |
| pickup.address.phone | string | No | Phone |
| pickup.address.country_code | string | No | Country code |
| pickup.address.state_code | string | No | State code |
| pickup.address.postal_code | string | No | Postal/Zip code |
| pickup.address.city | string | No | City |
| pickup.address.address_line1 | string | No | Address Line 1 |
| pickup.address.address_line2 | string | No | Address Line 2 |
| pickup.address.latitude | float | Yes | Latitude |
| pickup.address.longitude | float | Yes | Longitude |
| pickup.flight | object | Yes* | Pick Up flight information (Required when pickup type is airport) |
| pickup.flight.airport_code | string | Yes | Airport code |
| pickup.flight.airline_code | string | No | Airline Code |
| pickup.flight.flight_number | string | No | Flight Number |
| pickup.flight.airport_pickup_option | object | No | Pick Up area (Possible values: `curbside`, `inside`) |
| pickup.udf | object | No | Key value dictionary of user defined fields |
| stops | object | No | Array of stops (Included objects same with `pickup`) |
| dropoff | object | No | Drop off location information (Included objects same with `pickup`) |

Check the list of supported `vehicle_types`:

- *economy_sedan*
- *hybrid_sedan*
- *vip_sedan*
- *sedan*
- *economy_suv*
- *hybrid_suv*
- *vip_suv*
- *suv*
- *mini_van*
- *passenger_van*
- *other_van*
- *limousine*
- *mini_bus*
- *party_bus*
- *coach_bus*
- *other_bus*
- *shared_vehicle*
- *other_vehicle*


#### *Rate Lookup* response parameters

| Name | Type | Description |
|-----------------------------------|-----------|---------------------------------------------------|
| results | array | Array of charge results |
| results[].search_result_id | integer | Search result Id (Is required for booking) |
| results[].executor | string | The company the reservation will be executed by |
| results[].vehicle_type | string | Vehicle type code |
| results[].vehicle_type_name | string | Vehicle type name |
| results[].vehicle_type_description | string | Vehicle type description |
| results[].vehicle_type_images | array | Array of links for vehicle type images |
| results[].passenger_capacity | integer | Passenger capacity |
| results[].luggage_capacity | integer | Luggage capacity |
| results[].is_handicap_accessible | boolean | Is handicap accessible |
| results[].currency_code | string | String code of the currency |
| results[].total_amount | float | Total rate amount |


#### *Get Rate Details* response parameters

| Name |Type |Description |
|-------------------------------------------------------|-----------|---------------------------------------------------|
| charges | array | Original charges |
| charges[].name | string | Charge name. Check possible names in the list below |
| charges[].value | float | Charge value |
| search_result_id | integer | Search result Id (Is required for booking) |
| executor | string | The company the reservation will be executed by | 
| vehicle_type | string | Vehicle type code |
| vehicle_type_name | string | Vehicle type name |
| vehicle_type_description | string | Vehicle type description |
| vehicle_type_images | array | Array of links for vehicle type images |
| passenger_capacity | integer | Passenger capacity |
| luggage_capacity | integer | Luggage capacity |
| is_handicap_accessible | boolean | Is handicap accessible |
| currency_code | string | String code of the currency |
| total_amount | float | Total rate amount |

Check the list of supported `charges`:

- *base_charge*
- *hourly_charge*
- *passenger_charge*
- *distance_charge*
- *gratuity_charge*
- *extra_gratuity*
- *stops_charge*
- *tolls*
- *surcharges*
- *parking*
- *miscellaneous_charge*
- *discount*
- *taxes*


#### *Booking*, *Update Booking* request parameters

| Name | Type |Required | Description |
|-----------------------------------------------|---------|---------|-------------------------------------------------------------------|
| search_result_id | integer | Yes | Id of choosed price from Rate Lookup response |
| passengers | array | Yes | List of passengers (Minimum 1 passenger) |
| passengers[].first_name | string | Yes | Passenger first name |
| passengers[].last_name | string | Yes | Passenger last name |
| passengers[].phone | string | Yes | Passenger phone |
| passengers[].email | string | Yes | Passenger email |
| pickup_flight_info | object | No | Pick Up flight information |
| pickup_flight_info.airline_code | string | No | Airline code |
| pickup_flight_info.flight_number | string | No | Flight number |
| dropoff_flight_info | object | No | Drop Off flight information (Included fields same with `pickup_flight_info`) |
| originator_udfs | object | No | Key value dictionary of user defined fields |
| originator_reference_number | string | Yes | The reference number of the reservation on originator side |


#### *Booking* response parameters

| Name |Type |Description |
|-------------------------------|-------|---------------------------------------------------|
| reservation_id | integer | Id of the reservation on executor side |
| executor_reference_number | string | The reference number of the reservation on executor side |
| executor_udfs | object | Key value dictionary of user defined fields from executor |

In 'execution' console you can see request/response samples, data types and sizes of parameters.

## Rate Lookup [/Rate Lookup]

### Rate Lookup [POST /partners/self/rate_lookup]
Allows you to see pricing for your trip requirements by returning a collection of charges.

 + Request

    + `executors` (object)
    + `executor_billing_contact_account_number` (string) String length: inclusive between 0 and 50.
    + `vehicle_types` (object) Required.
    + `scheduled_pickup_at` (object)
    + `luggage_count` (int) Range: inclusive between 0 and 2147483647.
    + `passenger_count` (int) Range: inclusive between 1 and 2147483647.
    + `infant_child_seat_count` (int) Range: inclusive between 0 and 2147483647.
    + `booster_child_seat_count` (int) Range: inclusive between 0 and 2147483647.
    + `toddler_child_seat_count` (int) Range: inclusive between 0 and 2147483647.
    + `duration` (int) Range: inclusive between 60 and 2147483647.
    + `is_handicap_access_required` (boolean)
    + `pickup` (object) Required.
    + `pickup.scheduled_arriving_at` (object)
    + `pickup.address` (object) Required.
    + `pickup.address.latitude` (float)
    + `pickup.address.longitude` (float)
    + `pickup.address.name` (string) String length: inclusive between 0 and 500.
    + `pickup.address.country_code` (string) String length: inclusive between 0 and 5.
    + `pickup.address.state_code` (string) String length: inclusive between 0 and 5.
    + `pickup.address.postal_code` (string) String length: inclusive between 0 and 15.
    + `pickup.address.city` (string) String length: inclusive between 0 and 250.
    + `pickup.address.address_line1` (string) String length: inclusive between 0 and 250.
    + `pickup.address.address_line2` (string) String length: inclusive between 0 and 250.
    + `flight` (object)
    + `flight.airport_code` (string) Required. Max length: 3. Min length: 3.
    + `flight.airline_code` (string) Max length: 2. Min length: 2.
    + `flight.flight_number` (string) Max length: 4. Min length: 1.
    + `flight.airport_pickup_option` (object)
    + `udf` (object)
    + `stops` (object) Required.
    + `dropoff` (object)
    + `dropoff.scheduled_arriving_at` (object)
    + `dropoff.address` (object) Required.
    + `dropoff.address.latitude` (float)
    + `dropoff.address.longitude` (float)
    + `dropoff.address.name` (string) String length: inclusive between 0 and 500.
    + `dropoff.address.country_code` (string) String length: inclusive between 0 and 5.
    + `dropoff.address.state_code` (string) String length: inclusive between 0 and 5.
    + `dropoff.address.postal_code` (string) String length: inclusive between 0 and 15.
    + `dropoff.address.city` (string) String length: inclusive between 0 and 250.
    + `dropoff.address.address_line1` (string) String length: inclusive between 0 and 250.
    + `dropoff.address.address_line2` (string) String length: inclusive between 0 and 250.
    + `flight` (object)
    + `flight.airport_code` (string) Required. Max length: 3. Min length: 3.
    + `flight.airline_code` (string) Max length: 2. Min length: 2.
    + `flight.flight_number` (string) Max length: 4. Min length: 1.
    + `flight.airport_pickup_option` (object)
    + `udf` (object)

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "executors": [ "dfw-limo","dfw-limo2","dfw-limo3" ], "vehicle_types": [ "vip_sedan","other_sedan" ], "scheduled_pickup_at": "2017-03-24T00:00:00", "luggage_count": 2, "passenger_count": 1, "infant_child_seat_count": 0, "booster_child_seat_count": 1, "toddler_child_seat_count": 0, "duration": 8100, "is_handicap_access_required": false, "pickup": { "scheduled_arriving_at": "00:10:00", "address": { "latitude": 42.3505135, "longitude": -71.10737, "name": "Metropolitan College & Extended Education", "country_code": "US", "state_code": "MA", "postal_code": "02125", "city": "Boston", "address_line1": "745 Commonwealth Ave" } }, "stops": [ { "address": { "latitude": 42.3501854, "longitude": -71.1045456, "name": "Tsai Performance Center", "country_code": "US", "state_code": "MA", "postal_code": "02125", "city": "Boston", "address_line1": "685 Commonwealth Ave" } } ], "dropoff": { "scheduled_arriving_at": "02:05:00", "address": { "latitude": 42.36552, "longitude": -71.0214844, "name": "Boston Logan Airport", "country_code": "US", "state_code": "MA", "postal_code": "02128" }, "flight": { "airport_code": "BOS", "airline_code": "AF", "flight_number": "123", "airport_pickup_option": "none" } } }

 + Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "results": [ { "search_result_id": 546225, "executor": "rosalimo", "vehicle_type": "hybrid_sedan", "vehicle_type_name": "SEDAN", "vehicle_type_description": "Sedan Town Car", "vehicle_type_images": [ "https://test_path/vehicle_image.png", "https://test_path_2/vehicle_image.png" ], "passenger_capacity": 3, "luggage_capacity": 5, "is_handicap_accessible": true, "currency_code": "USD", "total_amount": 99.99 } ] } 

### Get Rate Details [GET /partners/self/rate_lookup/results/{id}]
Returns a detailed (breakdown) list of charges by search_id from the previous method.

+ Parameters
    + id: `1` (required, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "charges": [ { "name": "fixed", "value": 95.0 }, { "name": "per_hour", "value": 2.25 }, { "name": "per_passenger", "value": 2.75 } ], "search_result_id": 546225, "executor": "rosalimo", "vehicle_type": "hybrid_sedan", "vehicle_type_name": "SEDAN", "vehicle_type_description": "Sedan Town Car", "vehicle_type_images": [ "https://test_path/vehicle_image.png", "https://test_path/vehicle_image2.png" ], "passenger_capacity": 3, "luggage_capacity": 5, "is_handicap_accessible": true, "currency_code": "USD", "total_amount": 100.0 } 


## Booking [/Booking]

### Booking [POST /partners/self/bookings]
Creates new reservation using specified booking information and specified rate lookup information (`search_result_id`) which was accepted previously.

 + Request

    + `search_result_id` (int) Range: inclusive between 1 and 9.22337203685478E+18.
    + `passengers` (object) Required.
    + `pickup_flight_info` (object)
    + `pickup_flight_info.airline_code` (string) Max length: 2. Min length: 2.
    + `pickup_flight_info.flight_number` (string) Max length: 4. Min length: 1.
    + `dropoff_flight_info` (object)
    + `dropoff_flight_info.airline_code` (string) Max length: 2. Min length: 2.
    + `dropoff_flight_info.flight_number` (string) Max length: 4. Min length: 1.
    + `originator_udfs` (object)
    + `originator_reference_number` (string) Required. String length: inclusive between 0 and 50.
    + `notes` (string) String length: inclusive between 0 and 500.

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "search_result_id": 546225, "passengers": [ { "first_name": "John", "last_name": "Smith", "phone": "+12345678900", "email": "john.smith@test.net" } ], "pickup_flight_info": {}, "dropoff_flight_info": { "airline_code": "AA", "flight_number": "46" }, "originator_udfs": { "key": "value" }, "originator_reference_number": "gh5ffd123" }

 + Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "reservation_id": 557891, "executor_reference_number": "hg77ti56", "executor_udfs": { "key": "value" } } 


### Update Booking [PUT /partners/self/bookings/{id}]
Updates a reservation by reservation Id using specified booking information rate lookup information which was previously returned.

+ Parameters
    + id: `1` (required, int)

+ Request

    + `search_result_id` (int) Range: inclusive between 1 and 9.22337203685478E+18.
    + `passengers` (object) Required.
    + `pickup_flight_info` (object)
    + `pickup_flight_info.airline_code` (string) Max length: 2. Min length: 2.
    + `pickup_flight_info.flight_number` (string) Max length: 4. Min length: 1.
    + `dropoff_flight_info` (object)
    + `dropoff_flight_info.airline_code` (string) Max length: 2. Min length: 2.
    + `dropoff_flight_info.flight_number` (string) Max length: 4. Min length: 1.
    + `originator_udfs` (object)
    + `originator_reference_number` (string) Required. String length: inclusive between 0 and 50.

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "search_result_id": 546225, "passengers": [ { "first_name": "John", "last_name": "Smith", "phone": "+12345678900", "email": "john.smith@test.net" } ], "pickup_flight_info": {}, "dropoff_flight_info": { "airline_code": "AA", "flight_number": "46" }, "originator_udfs": { "key": "value" }, "originator_reference_number": "gh5ffd123" }

+ Response 204


## Group Reservations

## Get Reservation [/Reservation/get]

### Get Reservation [GET /partners/self/reservations/{id}] 

Returns detailed reservation info

+ Parameters 
    + id: `1` (required, int)

+ Request 

    + Headers 

            Content-Type: application/json 
            Authorization: bearer {access_token}

+ Response 200 

    + Headers 

            Content-Type: application/json 

    + Body 

{
  "id": 123455,
  "executor": "rosalimo",
  "state": "driver_is_at_pickup",
  "state_reason": "Some reason",
  "executor_billing_contact_number": "31445",
  "scheduled_dropoff_at": "2017-05-17T05:28:23",
  "distance": 200.0,
  "charges": [
    {
      "name": "base_charge",
      "value": 10.0
    },
    {
      "name": "tolls",
      "value": 15.0
    }
  ],
  "total_amount": 25.0,
  "notes": "Trip notes",
  "driver": {
    "portrait_url": "https://somedomain.com/some.png",
    "first_name": "Josh",
    "last_name": "Smith",
    "email": "driver@emai.com",
    "phone": "+12345678900"
  },
  "car": {
    "license_plate": "1232125",
    "car_make": "Toyota",
    "model": "Corolla",
    "color": "Green",
    "phone": "+12345678900"
  },
  "executor_reference_number": "0023423",
  "originator_reference_number": "ref12345",
  "vehicle_type": "coach_bus",
  "scheduled_pickup_at": "2017-05-17T03:28:23",
  "scheduled_duration": 10800,
  "passenger_count": 1,
  "passengers": [
    {
      "first_name": "John",
      "last_name": "Smith",
      "phone": "+12345678900",
      "email": "john.smith@test.net"
    }
  ],
  "pickup": {
    "scheduled_arriving_at": "00:30:00",
    "address": {
      "latitude": 45.0,
      "longitude": 46.0,
      "name": "Super important steet",
      "country_code": "US",
      "state_code": "TX",
      "postal_code": "12345",
      "city": "City",
      "address_line1": "123 Some Street",
      "address_line2": "2 apartment"
    },
    "notes": "Notes",
    "udf": {
      "key": "value"
    }
  },
  "stops": [
    {
      "scheduled_arriving_at": "00:30:00",
      "address": {
        "latitude": 0.0,
        "longitude": 0.0,
        "name": "JFK Airport"
      },
      "flight": {
        "airport_code": "JFK",
        "airline_code": "AA",
        "flight_number": "1466",
        "airport_pickup_option": "inside"
      },
      "notes": "Notes",
      "udf": {
        "key": "value"
      }
    }
  ],
  "dropoff": {
    "scheduled_arriving_at": "00:30:00",
    "address": {
      "latitude": 45.0,
      "longitude": 46.0,
      "name": "Super important steet",
      "country_code": "US",
      "state_code": "TX",
      "postal_code": "12345",
      "city": "City",
      "address_line1": "123 Some Street",
      "address_line2": "2 apartment"
    },
    "notes": "Notes",
    "udf": {
      "key": "value"
    }
  },
  "currency_code": "USD",
  "luggage_count": 1,
  "is_handicap_access_required": true,
  "infant_child_seat_count": 1,
  "booster_child_seat_count": 1,
  "toddler_child_seat_count": 1,
  "originator_udfs": {
    "key": "value"
  }
}

## Create Reservation [/Reservation/create]

### Create Reservation [POST /partners/self/reservations] 

Creates reservation for specified executor using originator price 

+ Parameters 

+ Request 

    + `originator_reference_number` (string) Required. String length: inclusive between 0 and 50. 
    + `executor` (string) Required. String length: inclusive between 0 and 50. 
    + `notes` (string) String length: inclusive between 0 and 4000. 
    + `charges` (object) Required. 
    + `vehicle_type` (object) Required. 
    + `vehicle_type.value` (string) 
    + `scheduled_pickup_at` (object) 
    + `scheduled_duration` (int) Range: inclusive between 60 and 2147483647. 
    + `passenger_count` (int) Range: inclusive between 1 and 2147483647. 
    + `passengers` (object) Required. 
    + `pickup` (object) Required. 
    + `pickup.scheduled_arriving_at` (object) 
    + `pickup.address` (object) Required. 
    + `pickup.address.latitude` (float) 
    + `pickup.address.longitude` (float) 
    + `pickup.address.name` (string) String length: inclusive between 0 and 500. 
    + `pickup.address.country_code` (string) String length: inclusive between 0 and 5. 
    + `pickup.address.state_code` (string) String length: inclusive between 0 and 5. 
    + `pickup.address.postal_code` (string) String length: inclusive between 0 and 15. 
    + `pickup.address.city` (string) String length: inclusive between 0 and 250. 
    + `pickup.address.address_line1` (string) String length: inclusive between 0 and 250. 
    + `pickup.address.address_line2` (string) String length: inclusive between 0 and 250. 
    + `flight` (object) 
    + `flight.airport_code` (string) Required. Max length: 3. Min length: 3. 
    + `flight.airline_code` (string) Max length: 2. Min length: 2. 
    + `flight.flight_number` (string) Max length: 4. Min length: 1. 
    + `flight.airport_pickup_option` (object) 
    + `notes` (string) String length: inclusive between 0 and 4000. 
    + `udf` (object) 
    + `stops` (object) Required. 
    + `dropoff` (object) 
    + `dropoff.scheduled_arriving_at` (object) 
    + `dropoff.address` (object) Required. 
    + `dropoff.address.latitude` (float) 
    + `dropoff.address.longitude` (float) 
    + `dropoff.address.name` (string) String length: inclusive between 0 and 500. 
    + `dropoff.address.country_code` (string) String length: inclusive between 0 and 5. 
    + `dropoff.address.state_code` (string) String length: inclusive between 0 and 5. 
    + `dropoff.address.postal_code` (string) String length: inclusive between 0 and 15. 
    + `dropoff.address.city` (string) String length: inclusive between 0 and 250. 
    + `dropoff.address.address_line1` (string) String length: inclusive between 0 and 250. 
    + `dropoff.address.address_line2` (string) String length: inclusive between 0 and 250. 
    + `flight` (object) 
    + `flight.airport_code` (string) Required. Max length: 3. Min length: 3. 
    + `flight.airline_code` (string) Max length: 2. Min length: 2. 
    + `flight.flight_number` (string) Max length: 4. Min length: 1. 
    + `flight.airport_pickup_option` (object) 
    + `notes` (string) String length: inclusive between 0 and 4000. 
    + `udf` (object) 
    + `currency_code` (string) Required. String length: inclusive between 3 and 3. 
    + `luggage_count` (int) Range: inclusive between 0 and 2147483647. 
    + `is_handicap_access_required` (boolean) 
    + `infant_child_seat_count` (int) Range: inclusive between 0 and 2147483647. 
    + `booster_child_seat_count` (int) Range: inclusive between 0 and 2147483647. 
    + `toddler_child_seat_count` (int) Range: inclusive between 0 and 2147483647. 
    + `originator_udfs` (object) 

    + Headers 

            Content-Type: application/json 
            Authorization: bearer {access_token} 

    + Body 

{
  "originator_reference_number": "ref12345",
  "executor": "rosalimo",
  "notes": "Trip notes",
  "charges": [
    {
      "name": "base_charge",
      "value": 10.0
    },
    {
      "name": "tolls",
      "value": 15.0
    }
  ],
  "vehicle_type": "coach_bus",
  "scheduled_pickup_at": "2017-05-17T03:28:23",
  "scheduled_duration": 10800,
  "passenger_count": 1,
  "passengers": [
    {
      "first_name": "John",
      "last_name": "Smith",
      "phone": "+12345678900",
      "email": "john.smith@test.net"
    }
  ],
  "pickup": {
    "scheduled_arriving_at": "00:30:00",
    "address": {
      "latitude": 45.0,
      "longitude": 46.0,
      "name": "Super important steet",
      "country_code": "US",
      "state_code": "TX",
      "postal_code": "12345",
      "city": "City",
      "address_line1": "123 Some Street",
      "address_line2": "2 apartment"
    },
    "notes": "Notes",
    "udf": {
      "key": "value"
    }
  },
  "stops": [
    {
      "scheduled_arriving_at": "00:30:00",
      "address": {
        "latitude": 0.0,
        "longitude": 0.0,
        "name": "JFK Airport"
      },
      "flight": {
        "airport_code": "JFK",
        "airline_code": "AA",
        "flight_number": "1466",
        "airport_pickup_option": "inside"
      },
      "notes": "Notes",
      "udf": {
        "key": "value"
      }
    }
  ],
  "dropoff": {
    "scheduled_arriving_at": "00:30:00",
    "address": {
      "latitude": 45.0,
      "longitude": 46.0,
      "name": "Super important steet",
      "country_code": "US",
      "state_code": "TX",
      "postal_code": "12345",
      "city": "City",
      "address_line1": "123 Some Street",
      "address_line2": "2 apartment"
    },
    "notes": "Notes",
    "udf": {
      "key": "value"
    }
  },
  "currency_code": "USD",
  "luggage_count": 1,
  "is_handicap_access_required": true,
  "infant_child_seat_count": 1,
  "booster_child_seat_count": 1,
  "toddler_child_seat_count": 1,
  "originator_udfs": {
    "key": "value"
  }
}

+ Response 200 

    + Headers 

            Content-Type: application/json 

    + Body 

{
  "id": 123455,
  "executor": "rosalimo",
  "state": "driver_is_at_pickup",
  "state_reason": "Some reason",
  "executor_billing_contact_number": "31445",
  "scheduled_dropoff_at": "2017-05-17T05:28:23",
  "distance": 200.0,
  "charges": [
    {
      "name": "base_charge",
      "value": 10.0
    },
    {
      "name": "tolls",
      "value": 15.0
    }
  ],
  "total_amount": 25.0,
  "notes": "Trip notes",
  "driver": {
    "portrait_url": "https://somedomain.com/some.png",
    "first_name": "Josh",
    "last_name": "Smith",
    "email": "driver@emai.com",
    "phone": "+12345678900"
  },
  "car": {
    "license_plate": "1232125",
    "car_make": "Toyota",
    "model": "Corolla",
    "color": "Green",
    "phone": "+12345678900"
  },
  "executor_reference_number": "0023423",
  "originator_reference_number": "ref12345",
  "vehicle_type": "coach_bus",
  "scheduled_pickup_at": "2017-05-17T03:28:23",
  "scheduled_duration": 10800,
  "passenger_count": 1,
  "passengers": [
    {
      "first_name": "John",
      "last_name": "Smith",
      "phone": "+12345678900",
      "email": "john.smith@test.net"
    }
  ],
  "pickup": {
    "scheduled_arriving_at": "00:30:00",
    "address": {
      "latitude": 45.0,
      "longitude": 46.0,
      "name": "Super important steet",
      "country_code": "US",
      "state_code": "TX",
      "postal_code": "12345",
      "city": "City",
      "address_line1": "123 Some Street",
      "address_line2": "2 apartment"
    },
    "notes": "Notes",
    "udf": {
      "key": "value"
    }
  },
  "stops": [
    {
      "scheduled_arriving_at": "00:30:00",
      "address": {
        "latitude": 0.0,
        "longitude": 0.0,
        "name": "JFK Airport"
      },
      "flight": {
        "airport_code": "JFK",
        "airline_code": "AA",
        "flight_number": "1466",
        "airport_pickup_option": "inside"
      },
      "notes": "Notes",
      "udf": {
        "key": "value"
      }
    }
  ],
  "dropoff": {
    "scheduled_arriving_at": "00:30:00",
    "address": {
      "latitude": 45.0,
      "longitude": 46.0,
      "name": "Super important steet",
      "country_code": "US",
      "state_code": "TX",
      "postal_code": "12345",
      "city": "City",
      "address_line1": "123 Some Street",
      "address_line2": "2 apartment"
    },
    "notes": "Notes",
    "udf": {
      "key": "value"
    }
  },
  "currency_code": "USD",
  "luggage_count": 1,
  "is_handicap_access_required": true,
  "infant_child_seat_count": 1,
  "booster_child_seat_count": 1,
  "toddler_child_seat_count": 1,
  "originator_udfs": {
    "key": "value"
  }
}

## Update Reservation [/Reservation/update]

### Update Reservation [PUT /partners/self/reservations/{id}] 
Updates the reservation by reservation ID.
In most of the cases the API will return responses with <b>204 No Content</b> or <b>200 OK</b> HTTP status codes, but if reservation update should be confirmed by the operator, the API will return response with <b>202 Accepted</b> HTTP status code.
If update request was accepted by the operator 'reservation.update_accepted' event will occur.
If update request was rejected by the operator 'reservation.update_rejected' event will occur.
A client application may send multiple updates before an operator will accept or reject previous updates.
In this case, an operator will handle these updates as single update request and the associated event will occur only one time.
+ Parameters
    + `id` (required, number) 
Add
+ Request(application/json)
    + `vehicle_type` (required, enum[string]) 
        + Members 
            + `economy_sedan` 
            + `hybrid_sedan` 
            + `vip_sedan` 
            + `sedan` 
            + `economy_suv` 
            + `hybrid_suv` 
            + `vip_suv` 
            + `suv` 
            + `mini_van` 
            + `passenger_van` 
            + `other_van` 
            + `limousine` 
            + `mini_bus` 
            + `party_bus` 
            + `coach_bus` 
            + `other_bus` 
            + `shared_vehicle` 
            + `other_vehicle` 
            + `undefined` 
    + `scheduled_pickup_at` (required, string) 
        The value must be the string with date&time in ISO 8601 format between '1753-01-01T00:00:00' and '9999-12-31T23:59:59'.
    + `scheduled_duration` (optional, number) 
        The value must be integer which is not less than 60. 
    + `passenger_count` (required, number) 
        The value must be integer which is not less than 1. 
    + `passengers[]` (required, array) 
        The count of elements should be greater or equals to 1. 
    + `passengers[].first_name` (required, string) 
        The value must be non-empty string with maximum length 50. 
    + `passengers[].last_name` (required, string) 
        The value must be non-empty string with maximum length 50. 
    + `passengers[].phone` (optional, string) 
        The value must be a string with a existing phone number in E.164 format. 
    + `passengers[].email` (optional, string) 
        The value must be string with email address. 
        The value must be non-empty string with maximum length 255. 
    + `pickup` (required, object) 
    + `pickup.scheduled_arriving_at` (optional, string) 
        The value must be the string with time in ISO 8601 format between '00:00:00' and 23:59:59. 
    + `pickup.address` (required, object) 
        Latitude and Longitude cannot be zero at the same time. 
    + `pickup.address.latitude` (optional, number) 
        The value must be the decimal which inclusive between -90 and 90. 
        + Default: `0` 
    + `pickup.address.longitude` (optional, number) 
        The value must be the decimal which inclusive between -180 and 180. 
        + Default: `0` 
    + `pickup.address.name` (optional, string) 
        The value must be non-empty string with maximum length 500. 
    + `pickup.address.country_code` (optional, string) 
        The value must be non-empty string with maximum length 5. 
    + `pickup.address.state_code` (optional, string) 
        The value must be non-empty string with maximum length 5. 
    + `pickup.address.postal_code` (optional, string) 
        The value must be non-empty string with maximum length 15. 
    + `pickup.address.city` (optional, string) 
        The value must be non-empty string with maximum length 250. 
    + `pickup.address.address_line1` (optional, string) 
        The value must be non-empty string with maximum length 250. 
    + `pickup.address.address_line2` (optional, string) 
        The value must be non-empty string with maximum length 250. 
    + `pickup.flight` (optional, object) 
    + `pickup.flight.airport_code` (optional, string) 
        The value must be string with valid airport IATA or ICAO code. 
    + `pickup.flight.airline_code` (optional, string) 
        The value must be string with valid airline IATA or ICAO code. 
    + `pickup.flight.flight_number` (optional, string) 
        The value must be string with flight number digits. 
    + `pickup.flight.airport_pickup_option` (optional, enum[string]) 
        + Members 
            + `none` 
            + `curbside` 
            + `inside` 
    + `pickup.notes` (optional, string) 
        The value must be non-empty string with maximum length 4000. 
    + `pickup.udf[]` (optional, array) 
    + `stops[]` (optional, array) 
    + `stops[].scheduled_arriving_at` (optional, string) 
        The value must be the string with time in ISO 8601 format between '00:00:00' and 23:59:59. 
    + `stops[].address` (required, object) 
        Latitude and Longitude cannot be zero at the same time. 
    + `stops[].address.latitude` (optional, number) 
        The value must be the decimal which inclusive between -90 and 90. 
        + Default: `0` 
    + `stops[].address.longitude` (optional, number) 
        The value must be the decimal which inclusive between -180 and 180. 
        + Default: `0` 
    + `stops[].address.name` (optional, string) 
        The value must be non-empty string with maximum length 500. 
    + `stops[].address.country_code` (optional, string) 
        The value must be non-empty string with maximum length 5. 
    + `stops[].address.state_code` (optional, string) 
        The value must be non-empty string with maximum length 5. 
    + `stops[].address.postal_code` (optional, string) 
        The value must be non-empty string with maximum length 15. 
    + `stops[].address.city` (optional, string) 
        The value must be non-empty string with maximum length 250. 
    + `stops[].address.address_line1` (optional, string) 
        The value must be non-empty string with maximum length 250. 
    + `stops[].address.address_line2` (optional, string) 
        The value must be non-empty string with maximum length 250. 
    + `stops[].flight` (optional, object) 
    + `stops[].flight.airport_code` (optional, string) 
        The value must be string with valid airport IATA or ICAO code. 
    + `stops[].flight.airline_code` (optional, string) 
        The value must be string with valid airline IATA or ICAO code. 
    + `stops[].flight.flight_number` (optional, string) 
        The value must be string with flight number digits. 
    + `stops[].flight.airport_pickup_option` (optional, enum[string]) 
        + Members 
            + `none` 
            + `curbside` 
            + `inside` 
    + `stops[].notes` (optional, string) 
        The value must be non-empty string with maximum length 4000. 
    + `stops[].udf[]` (optional, array) 
    + `dropoff` (optional, object) 
    + `dropoff.scheduled_arriving_at` (optional, string) 
        The value must be the string with time in ISO 8601 format between '00:00:00' and 23:59:59. 
    + `dropoff.address` (required, object) 
        Latitude and Longitude cannot be zero at the same time. 
    + `dropoff.address.latitude` (optional, number) 
        The value must be the decimal which inclusive between -90 and 90. 
        + Default: `0` 
    + `dropoff.address.longitude` (optional, number) 
        The value must be the decimal which inclusive between -180 and 180. 
        + Default: `0` 
    + `dropoff.address.name` (optional, string) 
        The value must be non-empty string with maximum length 500. 
    + `dropoff.address.country_code` (optional, string) 
        The value must be non-empty string with maximum length 5. 
    + `dropoff.address.state_code` (optional, string) 
        The value must be non-empty string with maximum length 5. 
    + `dropoff.address.postal_code` (optional, string) 
        The value must be non-empty string with maximum length 15. 
    + `dropoff.address.city` (optional, string) 
        The value must be non-empty string with maximum length 250. 
    + `dropoff.address.address_line1` (optional, string) 
        The value must be non-empty string with maximum length 250. 
    + `dropoff.address.address_line2` (optional, string) 
        The value must be non-empty string with maximum length 250. 
    + `dropoff.flight` (optional, object) 
    + `dropoff.flight.airport_code` (optional, string) 
        The value must be string with valid airport IATA or ICAO code. 
    + `dropoff.flight.airline_code` (optional, string) 
        The value must be string with valid airline IATA or ICAO code. 
    + `dropoff.flight.flight_number` (optional, string) 
        The value must be string with flight number digits. 
    + `dropoff.flight.airport_pickup_option` (optional, enum[string]) 
        + Members 
            + `none` 
            + `curbside` 
            + `inside` 
    + `dropoff.notes` (optional, string) 
        The value must be non-empty string with maximum length 4000. 
    + `dropoff.udf[]` (optional, array) 
    + `currency_code` (required, string) 
        The value must be string with valid ISO 4217 currency alpha code. 
    + `charges[]` (required, array) 
        The count of elements should be greater or equals to 1. 
    + `charges[].name` (required, enum[string]) 
        + Members 
            + `base_charge` 
            + `hourly_charge` 
            + `passenger_charge` 
            + `distance_charge` 
            + `gratuity_charge` 
            + `extra_gratuity` 
            + `stops_charge` 
            + `tolls` 
            + `surcharges` 
            + `parking` 
            + `miscellaneous_charge` 
            + `discount` 
            + `taxes` 
    + `charges[].value` (optional, number) 
        + Default: `0` 
    + `luggage_count` (optional, number) 
        The value must be integer which is not less than 0. 
        + Default: `0` 
    + `is_handicap_access_required` (optional, boolean) 
        + Default: `false` 
    + `infant_child_seat_count` (optional, number) 
        The value must be integer which is not less than 0. 
        + Default: `0` 
    + `booster_child_seat_count` (optional, number) 
        The value must be integer which is not less than 0. 
        + Default: `0` 
    + `toddler_child_seat_count` (optional, number) 
        The value must be integer which is not less than 0. 
        + Default: `0` 
    + `originator_udfs[]` (optional, array) 
    + Headers 
        Accept-Encoding: gzip 
        Accept-Charset: utf-8 
        Accept: application/json 
        Content-Type: application/json;charset=utf-8 
        Authorization: bearer {access_token} 
    + Body 
        {
            "scheduled_pickup_at": "2017-05-17T03:28:23",
            "scheduled_duration": 10800,
            "passenger_count": 1,
            "passengers": [
                {
                   "first_name": "John",
                   "last_name": "Smith",
                   "phone": "+12345678900",
                   "email": "john.smith@test.net"
                }
            ],
            "pickup": {
                "scheduled_arriving_at": "00:30:00",
                    "address": {
                    "latitude": 45.0,
                    "longitude": 46.0,
                    "name": "Super important steet",
                    "country_code": "US",
                    "state_code": "TX",
                    "postal_code": "12345",
                    "city": "City",
                    "address_line1": "123 Some Street",
                    "address_line2": "2 apartment"
                },
                "notes": "Notes",
                "udf": {
                   "key": "value"
                }
            },
            "stops": [
                {
                    "scheduled_arriving_at": "00:30:00",
                    "address": {
                        "latitude": 1.1,
                        "longitude": 2.1,
                        "name": "JFK Airport"
                    },
                    "flight": {
                      "airport_code": "JFK",
                      "airline_code": "AA",
                      "flight_number": "1466",
                      "airport_pickup_option": "inside"
                    },
                    "notes": "Notes",
                    "udf": {
                       "key": "value"
                    }
                }
            ],
            "dropoff": {
                "scheduled_arriving_at": "00:30:00",
                "address": {
                  "latitude": 45.0,
                  "longitude": 46.0,
                  "name": "Super important steet",
                  "country_code": "US",
                  "state_code": "TX",
                  "postal_code": "12345",
                  "city": "City",
                  "address_line1": "123 Some Street",
                  "address_line2": "2 apartment"
                },
                "notes": "Notes",
                "udf": {
                   "key": "value"
                }
            },
            "currency_code": "USD",
                      "charges": [
              {
                "name": "base_charge",
                "value": 10.0
              },
              {
                "name": "tolls",
                "value": 15.0
              }
            ],
            "luggage_count": 4,
            "is_handicap_access_required": true,
            "infant_child_seat_count": 6,
            "booster_child_seat_count": 7,
            "toddler_childseat_count": 8,
            "originator_udfs": {
               "key": "value"
            }
        } 

+ Response 204

## Cancel Reservation [/Reservation/cancel]

### Cancel Reservation [PUT /partners/self/reservations/{id}/cancel] 

Cancels the reservation on behalf of affiliate. 

+ Parameters 
    + id: `1` (required, int)

+ Request 

    + Headers 

            Content-Type: application/json 
            Authorization: bearer {access_token}




### Cancel Reservation By Passenger [PUT /partners/self/reservations/{id}/cancel_by_passenger] 

Cancels the reservation on behalf of passenger. 

+ Parameters 
    + id: `1` (required, int)

+ Request 

    + Headers 

            Content-Type: application/json 
            Authorization: bearer {access_token}

## Driver GPS [/Gps]

Provides the following abilities:

- Check current position of the driver for the reservation.


To check driver's position, you just need to have the `reservation_id`, 
received during booking the ride and call <a href="/#reference/reservations/driver-gps/get">gps</a> endpoint


The tables below describe all possible response parameters for the Reservation group methods:


#### *Get Driver GPS* response parameters

| Name | Type | Description |
|-----------------------------------------------|-----------|--------------------------------------------------------------------------------------|
| latitude | float | Latitude |
| longitude | float | Longitude |

In 'execution' console you can see request/response samples, data types and sizes of parameters.

### Get [GET /partners/self/reservations/{id}/driver/gps]
Returns current position of the driver for the reservation.


+ Parameters
    + id: `1` (required, int)

+ Request

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

+ Response 200

    + Headers

            Content-Type: application/json

    + Body

            { "latitude": 1.1, "longitude": 2.1 } 
            
            
## Group Notification Subscriptions

Partners can subscribe to receive notifications about reservation events via <a href="/#reference/notification-subscriptions/web-hook">Web Hooks</a>.


The tables below describes all possible request/response parameters for the Subscription process methods:


#### *Create Web Hook Subscription* request parameters

| Name | Type | Required | Description |
|-----------------------------------------------|-----------|--------|--------------------------------------------------------------------------------------|
| url | string | Yes | The endpoint the notification will be sent to |
| events | object | Yes | List of evens to subscribe on |

Check the table of supported `events`:

| Event | Description |
|---------------------|----------------------------------------|
| reservation.accepted | Executor accepted the reservation. |
| reservation.rejected | Executor rejected the reservation. After this event, any processing of reservation will be suppressed. |
| reservation.assigned | Driver has been assigned to the reservation. Payload of webhook for this event may contains driver and car information. |
| reservation.update_accepted | Operator accepted update requests of reservation. Update requests which were sent previously were applied to the reservation. |
| reservation.update_rejected | Operator rejected update requests of reservation. Update requests which were sent previously were not applied to the reservation. |
| reservation.unassigned | Driver has been unassigned from the reservation. After this event previously accepted driver and car infomation information became not actual. |
| reservation.driver_is_on_the_way | Driver is on the way to pick-up location. Payload of webhook for this event may contains driver and car information. |
| reservation.driver_is_at_pickup | Driver has arrived at the pick-up location. Payload of webhook for this event may contains driver and car information. |
| reservation.driver_is_waiting_at_pickup | Driver has started waiting for passenger at pickup location (additional fee may be included in final charges). |
| reservation.driver_is_waiting_for_passenger_started | Driver has started waiting for passenger at current location (additional fee may be include in final chargesd). |
| reservation.driver_is_waiting_for_passenger_stopped | Driver has stopped waiting for passenger at current location. |
| reservation.passenger_in_car | Passenger has been picked up. |
| reservation.passenger_dropped_off | Passenger has been dropped off. |
| reservation.cancelled | Reservation has been cancelled. |
| reservation.closed | Reservatoin has been closed. Payload for this event will contain final charges. After this event, any processing of reservation will be suppressed. |

The list of events may be extended in the future.

The table below describes all possible parameters of <a href="/#reference/notification-subscriptions/web-hook">Web Hook</a> notification.

| Name | Type | Description |
|------|------|-------------|
| id | number | Reservation ID. |
| event | string | Reservation event which was occurred. |
| event_occurred_at | string | The UTC timestamp of reservation event which was occurred. |
| executor_reference_number | string | Reference number for the reservation on executor's side. |
| originator_reference_number | string | Reference number for the reservation on originator's side. |
| state | string | Current reservation state. It is not the same as event. |
| state_reason | string | The reservation state reason. |
| driver_phone | string | Driver phone number in E.164 format. May sent on `reservation.assigned`, `reservation.driver_is_on_the_way` and `reservation.driver_is_at_pickup` events. |
| driver_first_name | string | Driver first name. May sent on `reservation.assigned`, `reservation.driver_is_on_the_way` and `reservation.driver_is_at_pickup` events. |
| driver_last_name | string | Driver last name. May sent on `reservation.assigned`, `reservation.driver_is_on_the_way` and `reservation.driver_is_at_pickup` events. |
| car_licence_plate | string | Car license plate. May sent on `reservation.assigned`, `reservation.driver_is_on_the_way` and `reservation.driver_is_at_pickup` events. |
| car_color | string | Car color. May sent on `reservation.assigned`, `reservation.driver_is_on_the_way` and `reservation.driver_is_at_pickup` events. |
| car_make | string | Car make. May sent on `reservation.assigned`, `reservation.driver_is_on_the_way` and `reservation.driver_is_at_pickup` events. |
| car_model | string | Car model. May sent on `reservation.assigned`, `reservation.driver_is_on_the_way` and `reservation.driver_is_at_pickup` events. |
| car_year | number | Year when the car was manufactured. May sent on `reservation.assigned`, `reservation.driver_is_on_the_way` and `reservation.driver_is_at_pickup` events. |
| charges | array | Array of final charges. Sent only on `reservation.closed` event. |
| charges[].name | string | Charge name. Sent only on `reservation.closed` event. |
| charges[].value | number | Charge value. Sent only on `reservation.closed` event. |


In 'execution' console you can see request/response samples, data types and sizes of parameters.

## Web Hook [/Web Hook]

To subscribe you need to specify the list of events and the url you would want to receive notifications on.

### Create Or Update [PUT /partners/self/subscriptions/webhook]
Allows you to specify the list of events you want to subscribe to.

+ Request

    + `url` (string) Required.
    + `events` (object) Required.

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "url": "http://some-partner.net", "events": [ "reservation.cancelled", "reservation.closed" ] }

+ Response 202

### Delete [DELETE /partners/self/subscriptions/webhook]
Allows you to remove events you want to unsubscribe from.

+ Request

    + `url` (string) Required.
    + `events` (object) Required.

    + Headers

            Content-Type: application/json
            Authorization: bearer {access_token}

    + Body

            { "url": "http://some-partner.net", "events": [ "reservation.cancelled", "reservation.closed" ] }

+ Response 202